<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <form action="/api/1.0/admin/login" method="POST">
      <label for="">ACCOUNT</label>
      <input type="text" name="account" required>

      <label for="">PASSWORD</label>
      <input type="password" name="password" required>

      <button>Submit</button>
    </form>
</body>
</html>