<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/order.css">
</head>
<body>

    <div class="menus">
    </div>
    
    <button id="toggleCartBtn">購物車</button>
    <div class="cart">
    </div>

<script>
  const fetchMenuByCategoriesUrl = `/api/1.0/admin/fetchMenuByCategories`;
  const checkoutUrl = `/api/1.0/admin/createOrder`;
  const menus = document.querySelector('.menus');
  const cart = document.querySelector('.cart');
  const cdn = `https://d3nexs9enmvorf.cloudfront.net`;
  
  function checkout(list){

    localStorage.removeItem('cart');

    fetch(checkoutUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(list),
    })
      .then(res => res.json())
      .then(data => {
        JSON.stringify(data);
        alert(`訂單 ${data} 已建立`);
      })
  }

  function cartRefreshing(){
    // const cartItem = document.createElement('div');
    const priceTotal = document.createElement('h3');
    const cartHeading = document.createElement('h2');
    const checkoutButton = document.createElement('button');
    const clearButton = document.createElement('button');
    cart.innerText = "";
    
    const list = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : "";

    cartHeading.innerText = '購物車';
    // cartItem.classList.add('cartItem');
    cart.appendChild(cartHeading);
    cart.appendChild(priceTotal);

    console.log(list);
    list.forEach((value) => {
      const cartItem = document.createElement('div');
      cartItem.classList.add('cartItem');
      cart.appendChild(cartItem);
      const img = document.createElement('img');
      // const name = document.createElement('p');
      const qty = document.createElement('p');
      const price = document.createElement('p');
      const amount = document.createElement('p');

      img.classList.add('img');
      // name.classList.add('name');
      qty.classList.add('qty');
      price.classList.add('price');
      amount.classList.add('amount');

      img.src = value.img;
      // name.innerText = `${value.item_ID}`;
      qty.innerText = `數量 ${value.qty}`;
      price.innerText = `單價 ${value.price}`;
      amount.innerText = `總額 ${value.amount}`;

      cartItem.appendChild(img);
      // cartItem.appendChild(name);
      cartItem.appendChild(qty);
      cartItem.appendChild(price);
      cartItem.appendChild(amount);
    })
    
    checkoutButton.innerText = 'Checkout';
    clearButton.innerText = 'Clear All';

    priceTotal.innerText = `Total: ${list.reduce((acc, i) => {
      return acc += i.amount;
    }, 0)}`

    cart.appendChild(checkoutButton);
    cart.appendChild(clearButton);

    checkoutButton.addEventListener('click', (e) => {
      checkout(list);
    });

    clearButton.addEventListener('click', () => {
      localStorage.removeItem('cart');
      location.reload();
    })
  }
  function fetchMenuByCategories(){  
    fetch(fetchMenuByCategoriesUrl)
      .then(res => res.json())
      .then(data => {

        const menusArray = data.map(i => i);

        menusArray.forEach((cate) => {
          const menuCategory = document.createElement('h1');
          menuCategory.classList.add('category');
          menuCategory.innerText = cate._id;
          menus.appendChild(menuCategory); 

          cate.data.forEach((menu) => {
            const menuContent = document.createElement('div');
            menuContent.classList.add('menu');
            
            const category = document.createElement('p');
            category.classList.add('category');
            const name = document.createElement('p')
            name.classList.add('name');
            const price = document.createElement('p')
            price.classList.add('price');
            const story = document.createElement('p')
            story.classList.add('story');
            const img = document.createElement('img')
            img.classList.add('img');

            category.innerText = menu.category;
            name.innerText = menu.name;
            price.innerText = menu.price;
            story.innerText = menu.story;
            img.src = `${cdn}/${menu.main_image}`;

            menuContent.appendChild(category)
            menuContent.appendChild(name)
            menuContent.appendChild(price)
            menuContent.appendChild(story)
            menuContent.appendChild(img)
            menus.appendChild(menuContent);
            
            const orderQty = document.createElement('input');
            orderQty.classList.add('orderQty');
            orderQty.type = 'number';
            orderQty.min = '0';
            orderQty.max = '100';
            menuContent.appendChild(orderQty);

            const orderButton = document.createElement('button');
            orderButton.classList.add('orderButton');
            orderButton.innerText = 'Order';
            orderButton.id = menu._id;
            menuContent.appendChild(orderButton);

            const orderAmount = document.createElement('h2');
            orderAmount.classList.add('orderAmount');
            menuContent.appendChild(orderAmount);

            orderQty.addEventListener('input', (i) => {
              if(i.target.value == 0){
                orderAmount.innerText = "";
              } else {
                orderAmount.innerText = (i.target.value * menu.price);
              }         
            })

            orderButton.addEventListener('click', (i) => {
                if(i.target.parentElement.querySelector('.orderQty').value){
                const id = i.target.id;
                const qty = i.target.parentElement.querySelector('.orderQty').value;
                const price = (Number(i.target.parentElement.querySelector('.orderAmount').innerText)/qty);
                const amount = Number(i.target.parentElement.querySelector('.orderAmount').innerText);
                const img = i.target.parentElement.querySelector('.img').src;

                const list = {
                  item_ID: id,
                  qty,
                  price,
                  amount,
                  img,
                }

                let storage = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : [];

                let itemExists = false;
                for (let i in storage){
                  if(storage[i].item_ID === list.item_ID){
                    storage[i].qty = +storage[i].qty + +list.qty;
                    storage[i].amount = +storage[i].qty * +storage[i].price;
                    itemExists = true;
                    break;
                  }
                }
                if(!itemExists) storage.push(list);
     
                localStorage.setItem('cart', JSON.stringify(storage));

                alert(`已加入購物車`);
                cartRefreshing();
                i.target.parentElement.querySelector('.orderQty').value = "";
                i.target.parentElement.querySelector('.orderAmount').innerText = "";
              }
              
            })
             
          })
        })
      })
  }

  document.getElementById('toggleCartBtn').addEventListener('click', function(){
      const cart = document.querySelector('.cart');
      cart.style.right = cart.style.right === '0px' ? '-300px' : '0px';
  });

  fetchMenuByCategories();
  cartRefreshing();

  
</script>
</body>
</html>