<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form action="/api/1.0/admin/adminSignUp" method="POST">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="account" placeholder="account" required>
    <input type="password" name="password" placeholder="password" required>
    <button>Submit</button>
  </form>
  
</body>
</html>