* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('https://d3nexs9enmvorf.cloudfront.net/output.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@import './profile';
@import './switch';
@import './card';
@import './history';
@import './credits';
