.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
  z-index: 999;

  &-top {
    display: flex;
    padding: 10px;
    background-color: transparent;
  }

  &-brand {
    margin-left: 20px;
    margin-right: auto;
    font-size: 1.5rem;
    color: white;
  }

  &-links {
    display: flex;
    margin: 10px;
    a {
      margin: 0 10px;
      color: white;
      text-decoration: none;

      &:hover {
        // 链接悬停效果
        color: #007bff; // 更改悬停时的颜色
      }
    }
  }
}
.scroll-small .navbar {
  &-top {
    display: flex;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // 添加轻微的阴影效果
    border-bottom: 3px ridge #e0e0e0; // 添加底部边框，增加分隔感
    border-radius: 6px;
  }

  &-brand {
    margin-left: 20px;
    margin-right: auto;
    font-size: 1.5em;
    color: black;
  }

  &-links {
    display: flex;
    margin: 10px;

    a {
      margin: 0 10px;
      color: black;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        // 链接悬停效果
        color: #007bff; // 更改悬停时的颜色
      }
    }
  }
}
