.orderList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .order {
    background-color: rgb(64, 62, 62) a(255, 0, 0, 0.175);
    margin: 20px;
    height: 160px;
    width: 90%;
    border: 10px solid lightgray;
    border-radius: 10px;
  }
}
