* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: #f9f9f9;
$primary-color: #007bff;
$label-color: #495057;
$border-color: #ced4da;
$button-hover-color: darken($primary-color, 10%);
$padding: 10px;
$border-radius: 5px;

form {
  background-color: $background-color;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;

  label {
    color: $label-color;
    display: block;
    margin-bottom: 5px;
  }

  input[type='date'] {
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    margin-bottom: 15px;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  button {
    width: 100%;
    padding: $padding;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }
  }
}

.totalAmount {
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#totalAmountCanvas {
  display: flex;
  margin: 20px auto;
  width: 1200px;
  height: 500px;
}
#checkoutTagsCanvas {
  display: flex;
  margin: 20px auto;
  width: 1200px;
  height: 500px;
}

#checkoutIDsCanvas {
  display: flex;
  margin: 20px auto;
  width: 500px;
  height: 400px;
}

.carousel {
  position: relative;
  width: 1200px; /* 根据需要调整 */
  margin: auto;
  overflow: hidden; /* 隐藏超出容器的部分 */
  .chart-container {
    // position: absolute;
    width: 1200px;
    transition: transform 0.5s ease; /* 添加过渡效果 */
  }
}

.carousel canvas {
  width: 100%;
  height: auto; /* 或固定高度 */
}

#prevButton,
#nextButton {
  position: absolute;
  top: 140%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: solid transparent;
  padding: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

#prevButton {
  border-right-color: #007bff; /* 设置右边框颜色 */
  border-width: 15px 20px 15px 0; /* 设置边框宽度 */
  left: 10px;
}

#nextButton {
  border-left-color: #007bff; /* 设置左边框颜色 */
  border-width: 15px 0 15px 20px; /* 设置边框宽度 */
  right: 10px;
}

@import './navbar';
