@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0 0px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
button:hover {
  background-color: #0062cc;
}

input[type=text],
input[type=number],
select,
input[type=file] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menuCategories {
  padding: 20px;
}
.menuCategories .categoryBox {
  display: inline-block;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left;
}
.menuCategories .categoryBox .menuCategory {
  background-color: #6c757d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.menuCategories .categoryBox button {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.menu .menuCategory {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menu .menuName {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 5px;
}
.menu .menuPrice {
  font-weight: bold;
  color: #6c757d;
}
.menu .menuStory {
  font-style: italic;
  margin: 10px 0;
}
.menu .menuImg {
  max-width: 20%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.menu button {
  padding: 10px 520px;
  background-color: red;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .menu {
    padding: 10px;
  }
  .menu button {
    padding: 10px 20px;
    background-color: red;
  }
  .menuImg {
    max-width: 100%;
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
}
.navbar-top {
  display: flex;
  padding: 10px;
  background-color: transparent;
}
.navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5rem;
  color: white;
}
.navbar-links {
  display: flex;
  margin: 10px;
}
.navbar-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar-links a:hover {
  color: #007bff;
}

.scroll-small .navbar-top {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 3px ridge #e0e0e0;
  border-radius: 6px;
}
.scroll-small .navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
  color: black;
}
.scroll-small .navbar-links {
  display: flex;
  margin: 10px;
}
.scroll-small .navbar-links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.scroll-small .navbar-links a:hover {
  color: #007bff;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}

.menus {
  padding: 10px;
}
.menus .menu {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
}
.menus .menu .category,
.menus .menu .name,
.menus .menu .price,
.menus .menu .story {
  margin: 5px 0;
}
.menus .menu .img {
  max-width: 10%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menus .menu .orderQty {
  width: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.menus .menu .orderButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menus .menu .orderButton:hover {
  background-color: #545b62;
}
.menus .menu .orderAmount {
  font-size: 1.2em;
  color: #007bff;
}

.cart {
  position: fixed;
  right: -320px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #ddd;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right all 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}
.cart h2,
.cart h3 {
  margin: 10px 0;
}
.cart .cartItem {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  border: 4px double rgba(250, 128, 114, 0.516);
  padding: 0 30px;
  border-radius: 10px;
}
.cart .cartItem .img {
  max-width: 40%;
  height: auto;
  margin-left: -20px;
}
.cart .cartItem p {
  font-size: 15px;
  margin-left: 10px;
  padding: 0px 0px;
}
.cart button {
  margin: 35px 10px;
}

#toggleCartBtn {
  position: fixed;
  right: 0%;
  top: 40%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 1001;
  border-radius: 50px;
  text-align: center;
}
#toggleCartBtn:hover {
  background-color: #0062cc;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
}
.navbar-top {
  display: flex;
  padding: 10px;
  background-color: transparent;
}
.navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5rem;
  color: white;
}
.navbar-links {
  display: flex;
  margin: 10px;
}
.navbar-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar-links a:hover {
  color: #007bff;
}

.scroll-small .navbar-top {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 3px ridge #e0e0e0;
  border-radius: 6px;
}
.scroll-small .navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
  color: black;
}
.scroll-small .navbar-links {
  display: flex;
  margin: 10px;
}
.scroll-small .navbar-links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.scroll-small .navbar-links a:hover {
  color: #007bff;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0px;
  text-align: center;
}
body .orderList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .orderList .order {
  background-color: rgb(64, 62, 62) a(255, 0, 0, 0.175);
  margin: 20px;
  height: 160px;
  width: 90%;
  border: 10px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}
body .listContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.7s ease-out;
  background-color: #f9f9f9;
  margin: 0px 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
body .listContainer button {
  background-color: #4267b2; /* Facebook的蓝色 */
  color: white; /* 文字颜色为白色 */
  padding: 10px 20px; /* 上下10px、左右20px的内边距 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 轻微的圆角 */
  font-size: 16px; /* 字体大小 */
  cursor: pointer; /* 鼠标悬停时的手形光标 */
  margin: 10px; /* 外边距 */
  transition: background-color 0.3s; /* 鼠标悬停时背景色的过渡效果 */
}
body .listContainer button:hover {
  background-color: #365899; /* 鼠标悬停时的背景色变深 */
}
body .listContainer .listBox {
  padding: 10px 30px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
}
.navbar-top {
  display: flex;
  padding: 10px;
  background-color: transparent;
}
.navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5rem;
  color: white;
}
.navbar-links {
  display: flex;
  margin: 10px;
}
.navbar-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar-links a:hover {
  color: #007bff;
}

.scroll-small .navbar-top {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 3px ridge #e0e0e0;
  border-radius: 6px;
}
.scroll-small .navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
  color: black;
}
.scroll-small .navbar-links {
  display: flex;
  margin: 10px;
}
.scroll-small .navbar-links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.scroll-small .navbar-links a:hover {
  color: #007bff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

button {
  background-color: rgb(75, 72, 72);
  color: white;
  border: none;
  padding: 5px 100px;
  margin: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(75, 72, 72, 0.4);
}

.checkout-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 40px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.checkout-button:hover {
  background-color: darkgreen;
}

form {
  display: none;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-group label {
  flex-basis: 30%;
  margin-right: 10px;
}
.form-group input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

#cash,
#line-pay {
  display: none;
}

#cash.active,
#line-pay.active {
  display: block;
}

div.json-data {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  word-break: break-all;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
}
.navbar-top {
  display: flex;
  padding: 10px;
  background-color: transparent;
}
.navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5rem;
  color: white;
}
.navbar-links {
  display: flex;
  margin: 10px;
}
.navbar-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar-links a:hover {
  color: #007bff;
}

.scroll-small .navbar-top {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 3px ridge #e0e0e0;
  border-radius: 6px;
}
.scroll-small .navbar-brand {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
  color: black;
}
.scroll-small .navbar-links {
  display: flex;
  margin: 10px;
}
.scroll-small .navbar-links a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.scroll-small .navbar-links a:hover {
  color: #007bff;
}/*# sourceMappingURL=style.css.map */