* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}

input[type=text],
input[type=number],
select,
input[type=file] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menuCategories {
  padding: 20px;
}
.menuCategories .categoryBox {
  display: inline-block;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left;
}
.menuCategories .categoryBox .menuCategory {
  background-color: #6c757d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.menuCategories .categoryBox button {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.menu .menuCategory {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menu .menuName {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 5px;
}
.menu .menuPrice {
  font-weight: bold;
  color: #6c757d;
}
.menu .menuStory {
  font-style: italic;
  margin: 10px 0;
}
.menu .menuImg {
  max-width: 20%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.menu button {
  padding: 10px 520px;
  background-color: red;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .menu {
    padding: 10px;
  }
  .menu button {
    padding: 10px 20px;
    background-color: red;
  }
  .menuImg {
    max-width: 100%;
  }
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}

.menus .menu {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
}
.menus .menu .category,
.menus .menu .name,
.menus .menu .price,
.menus .menu .story {
  margin: 5px 0;
}
.menus .menu .img {
  max-width: 10%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.menus .menu .orderQty {
  width: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.menus .menu .orderButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menus .menu .orderButton:hover {
  background-color: #545b62;
}
.menus .menu .orderAmount {
  font-size: 1.2em;
  color: #007bff;
}

.cart {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid #ddd;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right all 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}
.cart h2,
.cart h3 {
  margin: 10px 0;
}
.cart .cartItem {
  text-align: left;
  margin-bottom: 10px;
}

#toggleCartBtn {
  position: fixed;
  right: 0;
  top: 6%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1001;
}
#toggleCartBtn:hover {
  background-color: #0062cc;
}

.orderList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderList .order {
  background-color: rgb(64, 62, 62) a(255, 0, 0, 0.175);
  margin: 20px;
  height: 160px;
  width: 90%;
  border: 10px solid lightgray;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */